<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.apollo">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_AIR_COMMAND_LINE_ARGUMENTS" value=""/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_AIR_PUBLISHER_ID" value=""/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_AIR_SECURITY_POLICY_FILE" value="security-policies/default.xml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/MapEdit.mxml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="ImmortalMap2.5D地图编辑器"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/G:/GitHub/Game/client/ImmortalMap2.5D地图编辑器/bin-debug/MapEdit-app.xml"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ImmortalMap2.5D地图编辑器"/>
<listEntry value="/ImmortalMap2.5D地图编辑器/src/MapEdit.mxml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
